{{#each this}}
<div class="photo-card">
    <a href="{{largeImageURL}}">
        <img src="{{webformatURL}}" data-source="{{largeImageURL}}" alt="{{tags}}" loading="lazy" />
    <div class="info">     
        <p class="info-item"><b>Likes</b><p>{{likes}}</p></p>       
        <p class="info-item"><b>Views</b><p>{{views}}</p></p>
        <p class="info-item"><b>Comments</b><p>{{comments}}</p></p>
        <p class="info-item"><b>Downloads</b><p>{{downloads}}</p></p>
    </div>
    </a>    
</div>
{{/each}}